<div class="mainnavbuttons">
		<div class="mainnav">
                	<a href="gallery.html" class="mainnav">In Time</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Architecture</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">The Art Institute</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Abstract</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Inspire</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Urban Scenes</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Cloudscapes</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Once Was</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Egyptian Building</a>
		</div>
                <div class="mainnav">
                        <a href="gallery.html" class="mainnav">Desertification</a>
		</div>
</div>
