        <div id="mainnav">
                <nav>
                        <ul>
                                <li><a href="gallery.html" class="mainnav">In Time</a></li>
                                <li><a href="gallery.html" class="mainnav">Architecture</a></li>
                                <li><a href="gallery.html" class="mainnav">The Art Institute</a></li>
                                <li><a href="gallery.html" class="mainnav">Abstract</a></li>
                                <li><a href="gallery.html" class="mainnav">Inspire</a></li>
                                <li><a href="gallery.html" class="mainnav">Urban Scenes</a></li>
                                <li><a href="gallery.html" class="mainnav">Cloudscapes</a></li>
                                <li><a href="gallery.html" class="mainnav">Once Was</a></li>
                                <li><a href="gallery.html" class="mainnav">Egyptian Building</a></li>
                                <li><a href="gallery.html" class="mainnav">Desertification</a></li>
                        </ul>
                </nav>
        </div>
